{
  "CN": "system:node:{{ item }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "EE",
      "L": "TALLINN",
      "O": "system:nodes",
      "OU": "K8S DEPLOYMENT",
      "ST": "HARJU"
    }
  ]
}